[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
django = "==4.0.6"
django-crispy-forms = "==1.14.0"
sqlparse = "==0.4.2"
psycopg2 = "==2.9.3"
"backports.zoneinfo" = "==0.2.1"
django-bootstrap-modal-forms = "*"

[dev-packages]

[requires]
python_version = "3.9"
