{% extends '../base.html' %}
{% load static %}
{% block content %}


<div class="container">

    <!--Toast Message-->
    {% if messages %}
    {% for message in messages %}

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">

        <div class="alert alert-warning" alert="{{message.tags}}" aria-live="assertive" aria-atomic="true" role="alert">
            <div class="alert-header">
                <strong class="me-auto">Notification</strong>
            </div>
            <div class="alert-body">
                {{message|safe}}
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}
    <!--Toast Message-->

    <div class="header">Departments!</div>
    {% if not departments %}

    {% comment %} <p>No Department added. Add some <a id="create-department" data-toggle="modal" class="btn btn-primary" type="button"
        data-target="#add-dep" data-url={% url 'stock:add_department' %}>Here!</a></p> {% endcomment %}
        <p>No Department added. Add some <a id="create-dep" class="create-dep btn btn-primary" type="button" >Here!</a></p> 
    {% else %}
    <div class="display_button">
        <p><b>Add New:</b></p>
        <button id="create-dep" class="create-dep btn btn-primary" type="button">Create Department</button>
    </div>

    <hr>

    <div class="display_table">
        <table class="table table-hover" id="data-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Department</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for item in departments %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{ item.name }}</td>
                    <td><button id="update-dep" class="update-dep btn btn-primary" type="button"
                            name="update-button"
                            data-form-url="{% url 'stock:update_department' item.id %}">Update</button></td>
                    <td><button id="delete-dep" class="delete-dep btn btn-danger" type="button"
                            name="delete-button"
                            data-form-url="{% url 'stock:delete_department' item.id %}">Delete</button></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <nav aria-label="pagination">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" >Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo; first</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}

            {% for i in paginator.page_range %} 
                {% if page_obj.number == i %}
                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                {% else %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %} 
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" >Last  &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% endif %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

</div>

{% comment %} <script>
$(document).ready(function () {
    $(document).on('click', "#create-department",function(){
        $.ajax({
            type: 'GET',
            url: $('#create-department').attr("data-url"),
        });
    });

    $(document).on('submit', "#create-form", function(e){
        e.preventDefault();
        $.ajax({
            type: "post",
            url: "{% url 'stock:add_department' %}",
            dataType: "json",
            data:{
                name: $("#name").val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function(data){
                //$("#data_table").html(response.html);
                //$("#add-dep").modal("hide");
                //alert(data.message)
                location.reload();
            }
        });
    });
});
</script> {% endcomment %}

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    $(function () {

        //delete category modal
        $('.delete-dep').each(function () {
            $(this).modalForm({
                formURL: $(this).data("form-url"),
                isDeleteForm: true

            });
        });

        //Update category modal
        $('.update-dep').each(function () {
            $(this).modalForm({
                formURL: $(this).data("form-url"),

            });
        });

        //Create Category modal
        $("#create-dep").modalForm({
            formURL: "{% url 'stock:add_department' %}"
        });
    });
</script>
{% endblock %}

