{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
    {% if tag == 'list' %}

    <div class="header">{{title}}</div>
    {% if not stock_list %}

    <p>No articles added. <a href="{% url 'stock:add_item' %}">Add some articles!</a></p>

    {% else %}
    
    <div class="display_table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
            </thead>
            <tbody>
                {% for item in stock_list %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{ item.category }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a class="btn btn-primary" href="{% url 'stock:update_item' item.id %}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'stock:delete_item' item.id %}">Delete</a></td>

                    {% comment %} <td>
                        <button id="submit" type="button" class="btn btn-danger" 
                        data-toggle="modal" 
                        data-target="#fm-modal-grid"
                        value="{{item.id}}"
                        href="#">
                        Delete
                        </button>
                    </td> {% endcomment %}
                </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <td><a class="export-csv btn btn-info" type="button" href="{% url 'stock:export_csv'%}">Export</a></td>
                </tr>
            </tfoot>

        </table>
    </div>

    {% comment %} <div class="modal fade" id="fm-modal-grid" tabindex="-1"
     role="dialog" aria-labelledBy="fm-modal-grid"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">DELETE</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form method="POST" id="del_form">
                            {% csrf_token %}
                            <p>Are you sure you want to delete this?</p>
                            <input id="del_submit" type="submit" value="Confirm">
                        </form>
                    </div>
            </div>
        </div>
    </div> {% endcomment %}
    {% endif %}
    {% else %}

    <div class="header">Search Result.</div>

    <div class="display_table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
                {% for item in stock_list %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{ item.category }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'stock:update_item' item.id %}">Update</a>
                    <td><a href="{% url 'stock:delete_item' item.id %}">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}
</div>
{% endblock %}

{% comment %} {% block script %}
    <script src="{% static 'js/stock.js' %}"></script>
{% endblock  %} {% endcomment %}
