{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}


<div class="container">

    <div class="header">Categories!</div>
    {% if not categories %}

    <p>No category added. <a href="#">Add some category!</a></p>

    {% else %}
    <div class="display_button">
        <p><b>Add New:</b></p> 
        <a class="btn btn-primary" type="button" data-toggle="modal" data-target="#fm-modal-grid">Add New</a>
    </div>

    <hr>

    <div class="display_table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
            </thead>
            <tbody>
                {% for item in categories %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{ item.name }}</td>
                    <td><a class="btn btn-primary" href="#">Update</a></td>
                    <td><a class="btn btn-danger" href="#">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="fm-modal-grid" tabindex="-1"
    role="dialog" aria-labelledBy="fm-modal-grid"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ADD NEW CATEGORY</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form action="" method="post">
                            {% csrf_token %}
                           <table>
                               {{ form|crispy }}
                           </table>
                           <input type="submit" value="Save">
                       </form>
                    </div>
            </div>
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}

{% comment %} {% block script %}
    <script src="{% static 'js/stock.js' %}"></script>
{% endblock  %} {% endcomment %}
