{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">

    <!--Toast Message-->
    {% if messages %}
    {% for message in messages %}

    <div id="position-fixed top-0 end-0 p-3" class="position-fixed top-0 end-0 p-3" style="z-index: 11">

        <div class="alert alert-warning" alert="{{message.tags}}" aria-live="assertive" aria-atomic="true" role="alert">
            <div class="alert-header">
                <strong class="me-auto">Notification</strong>
            </div>
            <div class="alert-body">
                {{message|safe}}
            </div>
        </div>
    </div>
    
    {% endfor %}
    {% endif %}
    <!--Toast Message-->


    {% if tag == 'list' %}

    <div class="header">{{title}}</div>
    {% if not stock_list %}

    <p>No articles added. <a href="{% url 'stock:add_item' %}">Add some articles!</a></p>

    {% else %}

    <div class="display_table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for item in stock_list %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{ item.category }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a class="btn btn-primary" href="{% url 'stock:update_item' item.id %}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'stock:delete_item' item.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <td><a class="export-csv btn btn-info" type="button" href="{% url 'stock:export_csv'%}">Export</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    {% endif %}
    {% else %}

        <div class="header">Search Result.</div>

        <div class="display_table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in stock_list %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{ item.category }}</td>
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td><a href="{% url 'stock:update_item' item.id %}">Update</a>
                        <td><a href="{% url 'stock:delete_item' item.id %}">Delete</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
    </div>
    {% endblock %}

    {% comment %} {% block script %}
    <script src="{% static 'js/stock.js' %}"></script>
    {% endblock  %} {% endcomment %}